.login-container {
  .logo {
    width: 150px;
  }
  .device{
    margin-top: 10px;
    height: 2px;
    width: 50%;
    background-color: rgba($color: #FF8C8C, $alpha: 0.48);
  }
  .login{
    width: 70%;
    margin: 10px auto 45px;
    .login-title {
      font-family: Roboto-thin-italic;
      font-size: 36px;
      text-align: center;
    }
  }

  .bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .forgot {
      font-family: Roboto-medium;
      font-size: 15px;
      span{
        color: #08439C;
        margin-right: 10px;
      }
      .create-account {
        // margin-left: 10px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}