.register-form {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  margin: auto;

  .avatar-item {
    width: auto;

    .avatar-container-item {
      // width: min-content;
      position: relative;

      border: 1px dashed transparent;

      .delete-avatar {
        position: absolute;
        right: 0;
        z-index: 999;
        display: none;
        background-color: #858585;
        color: white;
      }

      .user-avatar {
        height: 64px;
        width: 64px;
        border-radius: 50%
      }

      &:hover {
        border: 1px dashed #a9a9a9;

        .delete-avatar {
          display: block;
        }
      }
    }

  }

  .ant-form-item-label {
    text-align: left;
    font-size: 20px;
    min-width: 156px;
    text-transform: capitalize;

    label {
      font-size: 17px;
    }
  }

  .ant-form-item {}

  .ant-form-item-control-wrapper {

    input {
      height: 50px;
      font-size: 17px;
    }
  }

  .button-border {
    margin: auto
  }
}