.lesson-card {
  width: 480px;
  height: 470px;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 5.68333px 5.68333px rgba(0, 0, 0, 0.25);
  ;
  border-radius: 15px;
  .lesson-card-header {
    height: 70%;
    position: relative;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .lesson-card-image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .type {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      font-size: 18px
    }
    .lesson-name {
      font-size: 24px;
      font-family: Roboto-medium
    }

    .blur-background {
      padding: 10px 20px;
      background-color: rgba($color: #000000, $alpha: 0.4)
    }
  }
  .interactions{
    display: flex;
    padding: 10px 35px;
    align-items: center;
  }
  .lesson-card-footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    .avatar-container {
      .avatar {
        width: 60px;
        height: 60px;
      }
      .avatar-name {
        font-family: Roboto-medium;
        font-size: 20px
      }
    }
    .create-at {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}