.my-account-form{
  max-width: 720px;
  
  .my-account-bottom-button {
    margin: 0 20px;
  }
}

.avatar-container-item {
  width: min-content;
  .avatar {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }
}

