.box {
  height: 340px;
  width: 100%;
  background-color: #D63535;
  display: flex;
  align-content: center;
  .box-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    margin: 25px; // margin: auto;
    text-align: center;
    position: relative;
    .icon-ppt {
      height: 110px;
      width: 110px;
      margin-top: 30px;
    }
    .text {
      color: #fff;
    }
    .drop {
      margin-top: auto;
      font-size: 24px;
      font-weight: 600;
    }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline;
      .choose {
        font-size: 18px;
        margin: 18px 0;
        text-decoration: underline;
      }
      input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
      }
    }
  }
}