.edit-container {
  padding: 40px;

  .slide {
    display: flex;
    justify-content: space-around;

    .col-left {
      width: 250px;
      padding: 5px 5px;
      max-height: 800px;
      border: 2px solid #B22C2C;
      // overflow-y: hidden;
      margin-right: 10px;
      transition: width 0.7s;
      // &:hover {
        overflow: auto;
      // }

      .img {
        margin-bottom: 20px;
      }
    }

    .slide-active {
      width: 70%;
      margin-top: 0;

      .slide-image {
        margin-bottom: 20px;

        img {
          height: auto;
          width: 100%;
          border: 2px solid #B22C2C;
          border-radius: 4px;
          padding: 5px;
          // height: 370px;
          height: auto;
        }
      }
    }
  }

  .button-create-video {
    border: 2px solid #B22C2C;
    height: 60px;
    width: 211px;
    margin: auto;
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 20px;
      font-weight: 700;
      padding-left: 10px;
    }
  }

  .button-create-video:hover {
    background-color: #B22C2C;
    color: #fff;
  }
}

.col-left::-webkit-scrollbar {
  position: absolute;
  right: -5px;
  width: 6px;
  background-color: #fff;
  z-index: 99;
}

.col-left::-webkit-scrollbar-thumb {
  position: absolute;
  right: -5px;
  background-color: #f86565;
  border-radius: 2px;
}

.col-left::-webkit-scrollbar-track {
  position: absolute;
  right: -5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

@media screen and (max-width: 1000px) {
  .edit-container {
    .slide {
      .col-left {
        max-height: 750px
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .edit-container {
    .slide {
      .col-left {
        width: 150px;
        max-height: 700px
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .edit-container {
    .slide {
      .col-left {
        max-height: 660px
      }
    }
  }
}

.spin {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 241, 242, 0.4);

  i {
    background-color: #B22C2C
  }

  div {
    color: #B22C2C
  }
}