.modal-join-request {
  max-width: 720px;

  .ant-modal-content {
    .ant-modal-body {
      padding-top: 40px;
    }
  }

  .request-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px;

    span {
      margin-right: auto;
      font-size: 20px;
    }

    .button-border {
      margin-left: 10px;
    }
  }
}