.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .title {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  .button-down-load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 421px;
    background-color: #D63535;
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
    letter-spacing: 1.2px
  }
  .other {
    font-size: 31px;
    color: #1B0FAF;
    border-bottom: 1px solid #1B0FAF;
  }
}