.layout-container {
  height: 100%;
  overflow: scroll;

  .layout-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 52px;
    margin-left: auto;
    margin-right: auto;
    // max-width: 800px;
    min-width: 600px;
    position: relative;
    // height: 100%;
  .title-content {
    font-size: 48px;
    font-family: Roboto-medium;
    color: #A3A6A0;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 13%;
    text-transform: capitalize
  }
    .main-content {
      display: flex;
      width: 100%;
      justify-content: center;
      .child-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}