
.lesson-container {
  min-width: 640px;
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  .lesson-slide {
    padding: 40px 40px 10px;
    .title {
      font-family: Roboto-medium;
      font-size: 28px;
      color: #000;
    }
    
    .lesson-reaction {
      display: flex;
      padding: 10px 0 30px;
    }
  }
  .author {
    margin: 0 40px;
    padding: 20px 0;
    div {
      font-size: 19px;
      color: #000;
      margin-bottom: 10px;
    }
    .title {
      font-family: Roboto-medium
    }
  }
  .device {
    background: #9e9e9e;
    height: 1px;
    width: 45%;
    margin-left: 40px;
    &.larger {
      width: 80%
    }
  }
}