.modal-container {
  width: 530px;

  .ant-modal-content .ant-modal-body {
    padding: 10px;
    padding-bottom: 20px;

    .ant-modal-confirm-body-wrapper {
      .ant-modal-confirm-body {
        .anticon {
          display: none;
        }

        .ant-modal-confirm-content {
          margin: unset;
        }
      }
      .ant-modal-confirm-btns {
        display: none;
      }
    }
  }
}