.class-detail {
  .layout-content .main-content {
    .child-content {
      width: auto;
    }
  }

  .list-lessons {
    .lesson-card {
      margin-bottom: 40px
    }
  }

}
.layout-extend-right {
  position: sticky;
  right: 0;
  top: 70px;
  width: 250px;
  padding: 10px;

}
.layout-extend-left {
  position: sticky;
  left: 0;
  top: 70px;
  width: 250px;
  padding: 10px;

  .add-noti-button {
    margin-bottom: 24px;
  }
  .title-noti {
    font-size: 18px;
  }
  .list-noti {
    height: 500px;
    overflow: hidden;
    &:hover {
      overflow: hidden scroll;
    }
  }

}

.list-noti::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
  background-color: transparent;
} 
.list-noti::-webkit-scrollbar-thumb {
  background-color: #c9c9c9a6;
  border-radius: 2px;
}
.list-noti::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}