.button-extent {
  min-width: 77px;
  text-align: center;
  height: 100%;
  font-size: 15px;
  font-family: Roboto;
  margin-right: 20px;
  cursor: pointer;

  &.effectHover {

    &:hover {
      color: #1890ff
    }
  }
}