.header-container {
  position: fixed;
  width: 100%;
  z-index: 99;
  .main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  position: relative;
  flex-direction: row;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .header-logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    img {
      width: 114px;
      margin-right: 10px;
    }
  }
  .header-button-extent {
    display: flex;
    // margin-left: auto;
    margin-right: 10px;
  }
  }
}

.bar {
  position: absolute;
  width: 50px;
  height: 5px;
  margin-bottom: 2px;
  background: red;
  transition: all 1s linear;
  -webkit-animation-duration: 1s;
  animation-duration: 3.14s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bar.delay {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.top {
  top: -5px;
  left: -5px;
}

.right {
  top: 18px;
  right: -28px;
  transform: rotate(90deg);
}

.bottom {
  bottom: -5px;
  left: -5px;
}

.left {
  top: 18px;
  left: -28px;
  transform: rotate(90deg);
}

@-webkit-keyframes h-move {
  0% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}

@keyframes h-move {
  0% {
    left: -5px;
  }
  100% {
    left:  calc(100% - 50px);
  }
}

.top,
.bottom {
  -webkit-animation-name: h-move;
  animation-name: h-move;
}

@-webkit-keyframes v-move {
  0% {
    top: -5px;
  }
  100% {
    top: 228px;
  }
}

@keyframes v-move {
  0% {
    top: -5px;
  }
  100% {
    top: 228px;
  }
}

.right,
.left {
  -webkit-animation-name: v-move;
  animation-name: v-move;
}

.header-right-teacher {
  display: flex;
  align-items: center;

  // .avatar-container {
  //   margin-left: 20px
  // }
}


.right-header-button {
  display: flex;
  .right-header-button-view {
    display: flex;
  };
  
  .right-header-button-login {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    .login {
      color: red
    }
  }
}