.header-types{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 66px;
    background-color: #fff;
    .type {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        height: 100%;
        cursor: pointer;
        &.active {
            background-color: #eee;
        }
    }
}