.control-tabbar {
  display: flex;
  padding: 5px 10px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 20px;
  
  .play-pause {
    display: flex;
  }
  .volume {
    display: flex;
    align-items: center;
    .slider{
      display: none;
      width: 100px;
      margin:0 10px;
    }

    &:hover{

      .slider {
        display: block;
      }
    }
  }
  .time {
    display: flex;
    align-items: center;
  }
  .comment {
    display: flex;
    margin-left: auto;
  }
}