.subtitle-container {
  position: relative;
  .title {
    font-size: 30px;
  }
  .list-subtitle {
    background-color: rgba($color: #D9CECE, $alpha: 1);
    padding: 10px 20px;
    height: 290px;
    padding-bottom: 65px;
    overflow: hidden scroll;
    
    .add-subtitle{
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      margin-left: -20px;
      padding: 10px 0;
      background-color: rgba($color: #d4c1c1ad, $alpha: 0.68);
        img {
          height: 45px;
          width: 45px;
        }
    }
  }
}
.list-subtitle::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
  background-color: #d4c1c1ad;
} 
