.subtitle-content{
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 10px;
  .delete-sub {
    font-size: 25px;
  }
  .input {
    resize: none;
    height: 70px !important;
    width: 70%;
    font-size: 20px;
  }
  .time {
    text-align: center;

    .input-time {
      input {
        font-size: 16px;
        font-weight: 600
      }
    }
  }
  .icon{
    img {
      height: 30px;
      width: 30px;
    }
  }
  
}