.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  max-width: 720px;

  .introduce-container {
    padding: 80px 0 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 80px;
  }
}