.list-class-result {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  max-width: 720px;

  .title-class-result{
    font-size: 20px;

  }
}