.container {
  height: 100%;
  display: flex;
  justify-content: center; 
  // background: #0052D4;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #F7F8F8;
  /* fallback for old browsers */

  // background: -webkit-linear-gradient(to bottom, #ACBB78, #F7F8F8);
  /* Chrome 10-25, Safari 5.1-6 */

  // background: linear-gradient(to bottom, #ACBB78, #F7F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .content {
    overflow: hidden scroll;
    position: relative;
    width: 100%;
  }
  .main {
    flex: 1;
    padding-top: 72px;
  }
  .sky {
    position: absolute;
    width: 100%;
    background: #4B79A1;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #283E51, #0A2342);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #283E51, #0A2342);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -olinear-gradient(to top, #283E51, #0A2342);
    height: 100vh;
  }
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
  }

  // scrollbar
 .content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

.content::-webkit-scrollbar
{
  display: none;
	width: 6px;
	background-color: #fff;
}

.content::-webkit-scrollbar-thumb
{
	background-color: #918f8f;
}

  
}