
@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto-medium;
  src: url('./assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Roboto-light;
  src: url('./assets/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto-thin-italic;
  src: url('./assets/fonts/Roboto-ThinItalic.ttf');
}

html {
  scroll-behavior: smooth;
}
body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto
}