.layout-welcome {
  .right-header-button {
    .right-header-button-view {
      .button-extent {
        a {
          text-decoration: none;
          color: #A3A6A0;
        }
      }
    }
  }

  .layout-content {
    width: unset !important;
    max-width: unset !important;
    min-width: unset !important;
  }
}
.step {
  height: 95vh;
  width: 100%;
  display: flex;

  .des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    .title {
      font-family: Roboto-medium;
      font-size: 31px;
      color: #000;
    }
    .des-detail {
      font-family: Roboto-light;
      font-size: 24px;
      text-align: justify;
    }
  }

  .create-slide {
    width: 60%;
    border: 1px solid #5a5c5d;
    background-color: #fff;
  }

  &.mission {
    flex-direction: row-reverse;
  }
}
.welcome {
  // background: url('../../assets/images/welcome.png') no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(0,0,0,0.22);
  .image-bg {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .text {
    position: absolute;
    text-align: center;
    color: white;
    .greeting {
      font-size: 69px;
      margin-top: 10%;
      span {
        color: red;
      }
    }
    .slogan {
      font-size: 36px;
      font-weight: bold;
      margin-top: 20px;
    }
  }
  .button {
    color: white;
    font-weight: 400;
    margin: auto;
    height: 68px;
    width: 190px;
    background-color: rgba(210, 0, 0, 0.81);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 2px solid #fff;
    font-size: 24px;
    position: absolute;
    top: calc(50% - 34px)
  }
}
